* {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body{
    background: rgba(150, 200, 5,0.3);
}

footer{
    margin: 1.5rem;
}

#cuadro-principal{
    background: rgb(250, 250, 250);
    border: 2px solid;
    box-shadow: 10px 14px 21px -3px rgba(0,0,0,0.79);
    -webkit-box-shadow: 10px 14px 21px -3px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 14px 21px -3px rgba(0,0,0,0.79);
}

h2{
    font-size: 1.2rem;
}

.filas{
    margin: 0px;
}

#cuadro-titulo{
    padding: 3rem;
}

#cuadro-resultado{
    display: none;
    padding: 1rem 0;
    border: 1px solid;
    margin-bottom: 1rem;
}

#cuadro-grafico{
    padding: 1rem 0;
}

#cuadro-creditos{
    padding: 1rem 0;
}

#cuadro-calculadora-boton-cotizar{
    margin: 0px;
    padding: 1rem 0;
}

#cuadro-calculadora-opciones{
    margin:1.5rem 0;
    border: 1px;
    border-style: dashed;
}

#cuadro-resultado-titulo{
    padding-bottom: 1rem;
}

#cuadro-resultado-cotizacion{
    padding: 1rem 0;
}

#cuadro-grafico-titulo{
    padding-bottom: 1rem;
}

#cuadro-grafico-cotizacion{
    padding: 1rem 0;
}

.bi-github{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bi-backspace{
    cursor: pointer;
}


.cuadros-calculadora{
    margin: 1rem 0;
}

#importe{
    text-align: end;
    max-width: 75%;
    border: 1px solid;
    border-color: black;
}

#label-importe{
    margin-bottom: 1rem;
}

#error{
    display: none;
    color: red;
}

#moneda-futuro{
    width: 23%;
    min-width: 90px;
}

#moneda-base{
    width: 23%;
    min-width: 90px;
}

.moneda-futuro{
    background-image: url(img/ars.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.moneda-futuro-ars{
    background-image: url(img/ars.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.moneda-futuro-usd{
    background-image: url(img/usa.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.moneda-futuro-eur{
    background-image: url(img/eur.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.moneda-base{
    background-image: url(img/usa.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.moneda-base-ars{
    background-image: url(img/ars.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.moneda-base-usd{
    background-image: url(img/usa.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.moneda-base-eur{
    background-image: url(img/eur.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.valor-opcion{
    text-align: end;
}

#tabla-resultados{
    display: none;
    padding-bottom: 5vh;
}